
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    width: 100dvw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background: #000;
    color: #eeecff;
    overflow: hidden;
    font-size: 1.4rem;
    padding-top: 300px;
}

.typing {
    font-size: 3em;
    display: flex;
}

.letter {
    display: inline-block;
    min-width: 1ch;
}
